.venv/
__pycache__/
*.pyc
.idea/

experiments/framework/plot_maker.py
Flops_calculation/
BONG_torch_version/BOG.py
experiments/data/games

experiments/data/results/
experiments/data/Learned_matrices/


log.txt
logs/
*.log

*.pt
*.pth
*.ckpt
*.pkl
*.npy
*.npz

.DS_Store
Thumbs.db


dist/
build/
*.egg-info/